const { PHASE_DEVELOPMENT_SERVER } = require('next/constants');
module.exports = (phase) => {
  if (phase === PHASE_DEVELOPMENT_SERVER) {
    return {
      env: {
        mongodb_username: 'your_username',
        mongodb_password: 'your_password',
        mongodb_cluster: 'your_cluster',
        mongodb_database: 'your_database_for_development',
      },
    };
  }
  return {
    env: {
      mongodb_username: 'your_username',
      mongodb_password: 'your_password',
      mongodb_cluster: 'your_cluster',
      mongodb_database: 'your_database_for_production',
    },
  };
};
